body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.terminal {
    background-color: #000;
    border: 2px solid #0F0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0F0;
}

.terminal-screen {
    background-color: #000;
    padding: 20px;
    font-family: monospace;
    color: #0F0;
    white-space: pre-wrap;
    overflow: hidden;
    position: relative; /* Necessário para posicionar o pseudo-elemento do cursor */
}

.terminal-text {
    margin: 0;
    opacity: 0; /* Inicialmente invisível */
    position: absolute;
    top: 20px; /* Ajuste conforme necessário */
    left: 20px; /* Ajuste conforme necessário */
    white-space: nowrap; /* Impede que o texto quebre para a próxima linha durante a animação */
}

/* Animação base para o efeito de digitação */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; } /* Assumindo que o texto não ultrapassa a largura da tela */
}

/* Animação para o cursor piscando */
@keyframes blink-caret {
    from, to { border-right-color: transparent }
    50% { border-right-color: #0F0; }
}

/* Estilo para o cursor */
.terminal-text::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 1em; /* Altura da linha do texto */
    width: 0.1em;
    background-color: #0F0;
    border-right: 0.1em solid #0F0;
    animation: blink-caret 0.75s step-end infinite;
}

/* Animação para o texto aparecer */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Animação para o texto desaparecer */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Animações específicas para cada frase */
#phrase1 {
    animation: fadeIn 1s forwards, typing 2s steps(19, end) forwards 1s, fadeOut 1s forwards 3s;
}

#phrase2 {
    animation: fadeIn 1s forwards 4s, typing 1.5s steps(13, end) forwards 5s, fadeOut 1s forwards 6.5s;
}

#phrase3 {
    animation: fadeIn 1s forwards 7.5s, typing 2s steps(19, end) forwards 8.5s, fadeOut 1s forwards 10.5s;
}

#phrase4 {
    animation: fadeIn 1s forwards 11.5s, typing 1.8s steps(20, end) forwards 12.5s, fadeOut 1s forwards 14.3s;
}

#phrase5 {
    animation: fadeIn 1s forwards 15.3s, typing 3.5s steps(38, end) forwards 16.3s, fadeOut 1s forwards 19.8s;
}

#phrase6 {
    animation: fadeIn 1s forwards 20.8s, typing 4.5s steps(59, end) forwards 21.8s, fadeOut 1s forwards 26.3s;
}

#phrase7 {
    animation: fadeIn 1s forwards 27.3s, typing 6s steps(78, end) forwards 28.3s, fadeOut 1s forwards 34.3s;
}

#phrase8 {
    animation: fadeIn 1s forwards 35.3s, typing 2.5s steps(30, end) forwards 36.3s, fadeOut 1s forwards 38.8s;
}

#phrase9 {
    animation: fadeIn 1s forwards 39.8s, typing 3s steps(30, end) forwards 40.8s, fadeOut 1s forwards 43.8s;
}

#phrase10 {
    animation: fadeIn 1s forwards 44.8s, typing 2s steps(27, end) forwards 45.8s, fadeOut 1s forwards 47.8s;
}

#phrase11 {
    animation: fadeIn 1s forwards 48.8s, typing 3s steps(52, end) forwards 49.8s, fadeOut 1s forwards 52.8s;
}

#phrase12 {
    animation: fadeIn 1s forwards 53.8s, typing 6s steps(92, end) forwards 54.8s, fadeOut 1s forwards 60.8s;
}

#phrase13 {
    animation: fadeIn 1s forwards 61.8s, typing 6s steps(97, end) forwards 62.8s, fadeOut 1s forwards 68.8s;
}

#phrase14 {
    animation: fadeIn 1s forwards 69.8s, typing 2s steps(37, end) forwards 70.8s, fadeOut 1s forwards 72.8s;
}

#phrase15 {
    animation: fadeIn 1s forwards 73.8s, typing 1.5s steps(13, end) forwards 74.8s, fadeOut 1s forwards 76.3s;
}

#phrase16 {
    animation: fadeIn 1s forwards 77.3s, typing 2s steps(19, end) forwards 78.3s, fadeOut 1s forwards 80.3s;
}

#phrase17 {
    animation: fadeIn 1s forwards 81.3s, typing 1.8s steps(20, end) forwards 82.3s, fadeOut 1s forwards 84.1s;
}

#phrase18 {
    animation: fadeIn 1s forwards 85.1s, typing 2s steps(20, end) forwards 86.1s, fadeOut 1s forwards 88.1s;
}

#phrase19 {
    animation: fadeIn 1s forwards 89.1s, typing 5s steps(70, end) forwards 90.1s, fadeOut 1s forwards 95.1s;
}

#phrase20 {
    animation: fadeIn 1s forwards 96.1s, typing 1.5s steps(12, end) forwards 97.1s, fadeOut 1s forwards 98.6s;
}

#phrase21 {
    animation: fadeIn 1s forwards 99.6s, typing 4s steps(57, end) forwards 100.6s, fadeOut 1s forwards 104.6s;
}

#phrase22 {
    animation: fadeIn 1s forwards 105.6s, typing 1.5s steps(10, end) forwards 106.6s, fadeOut 1s forwards 108.1s;
}

#phrase23 {
    animation: fadeIn 1s forwards 109.1s, typing 4s steps(40, end) forwards 110.1s, fadeOut 1s forwards 114.1s;
}

#phrase24 {
    animation: fadeIn 1s forwards 115.1s, typing 1.5s steps(14, end) forwards 116.1s, fadeOut 1s forwards 117.6s;
}

#phrase25 {
    animation: fadeIn 1s forwards 118.6s, typing 2.5s steps(23, end) forwards 119.6s, fadeOut 1s forwards 122.1s;
}

#phrase26 {
    animation: fadeIn 1s forwards 123.1s, typing 3s steps(31, end) forwards 124.1s, fadeOut 1s forwards 127.1s;
}

#phrase1::before {
    content: "A Matrix achou você...";
}
#phrase2::before {
    content: "Acorde, Neo...";
}
#phrase3::before {
    content: "A Matrix achou você...";
}
#phrase4::before {
    content: "Siga o coelho branco.";
}
#phrase5::before {
    content: "\"O que é real? Como você define o real?\"";
}
#phrase6::before {
    content: "\"Você já teve um sonho, Neo, do qual tinha tanta certeza que era real?\"";
}
#phrase7::before {
    content: "\"Infelizmente, ninguém pode ser informado sobre o que é a Matrix. Você tem que ver por si mesmo.\"";
}
#phrase8::before {
    content: "\"Estou oferecendo a verdade. Nada mais.\"";
}
#phrase9::before {
    content: "\"Bem-vindo ao deserto do real.\"";
}
#phrase10::before {
    content: "💊 Cena da escolha da pílula:";
}
#phrase11::before {
    content: "\"Esta é a sua última chance. Depois disso, não há volta.\"";
}
#phrase12::before {
    content: "\"Se tomar a pílula azul, a história acaba. Você acorda na sua cama e acredita no que quiser.\"";
}
#phrase13::before {
    content: "\"Se tomar a pílula vermelha, fica no País das Maravilhas, e eu te mostrarei até onde vai a toca do coelho.\"";
}
#phrase14::before {
    content: "💻 Tela do computador (como você mencionou):";
}
#phrase15::before {
    content: "\"Acorde, Neo...\"";
}
#phrase16::before {
    content: "\"A Matrix achou você...\"";
}
#phrase17::before {
    content: "\"Siga o coelho branco.\"";
}
#phrase18::before {
    content: "🕶️ Agente Smith:";
}
#phrase19::before {
    content: "\"Humanos são um vírus. Vocês são a praga deste planeta. E nós... somos a cura.\"";
}
#phrase20::before {
    content: "\"Sr. Anderson...\"";
}
#phrase21::before {
    content: "\"Você ouve isso, Sr. Anderson? Isso é o som da inevitabilidade.\"";
}
#phrase22::before {
    content: "⚫ Neo:";
}
#phrase23::before {
    content: "\"Você está dizendo que eu posso desviar de balas?\"";
}
#phrase24::before {
    content: "\"Eu sei kung fu.\"";
}
#phrase25::before {
    content: "\"Por que meus olhos doem?\"";
}
#phrase26::before {
    content: "\"Porque você nunca os usou antes.\"";
}
