body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.terminal {
    background-color: #000;
    border: 2px solid #0F0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0F0;
}

.terminal-screen {
    background-color: #000;
    padding: 20px;
    font-family: monospace;
    color: #0F0;
    white-space: pre-wrap;
    overflow: hidden;
    position: relative;
    min-height: 150px; /* Garante uma altura mínima para o terminal */
}

#terminal-text::after {
    content: '_'; /* Cursor piscando */
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to { color: transparent }
    50% { color: #0F0; }
}
