body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


#th {
    font-size: 80px;
    text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00;
}


.terminal {
    background-color: #000;
    border: 5px solid #333; /* Borda mais grossa e cor cinza escura para a moldura */
    padding: 20px;
    border-radius: 10px; /* Bordas um pouco mais arredondadas */
    box-shadow: 0 0 20px #0F0; /* Sombra mais intensa */
    width: 80%; /* Largura do monitor (ajuste conforme necessário) */
    max-width: 800px; /* Largura máxima para não ficar muito grande em telas maiores */
    height: 60%; /* Altura do monitor (ajuste conforme necessário) */
    max-height: 600px; /* Altura máxima */
}

.terminal-screen {
    background-color: #000;
    padding: 20px;
    font-family: monospace;
    color: #0F0;
    white-space: pre-wrap; /* Mantém a formatação e quebras de linha */
    overflow: hidden; /* Esconde o cursor piscando fora do texto */
    height: 100%; /* A tela ocupa toda a altura do terminal */
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
}

#terminal-text::after {
    content: '_'; /* Cursor piscando */
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to { color: transparent }
    50% { color: #0F0; }
}
